@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter/wght.css";
@import "@fontsource-variable/victor-mono/wght.css";
@import "@fontsource/barlow/700.css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-heading: "Barlow", sans-serif;
  --font-sans: "Inter Variable", sans-serif;
  --font-mono: "Victor Mono Variable", monospace;

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-blur: var(--blur) / 0.9;

  --color-background: var(--background);

  --color-foreground: var(--foreground);
  --color-foreground-2: var(--foreground-2);
  --color-foreground-3: var(--foreground-3);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted-2: var(--muted-2);
  --color-muted-3: var(--muted-3);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --text-3xl: 2rem;
  --text-3xl--line-height: 2.25rem;
}

:root {
  --background: hsl(48 100% 97%);
  --foreground: hsl(0 3% 6%);

  --muted: hsl(51 21% 88%);
  --muted-2: hsl(50 14% 83%);
  --muted-3: hsl(55 10% 79%);
  --muted-foreground: hsl(0 3% 6%);

  --popover: hsl(48 100% 97%);
  --popover-foreground: hsl(0 3% 6%);

  --card: hsl(48 100% 97%);
  --card-foreground: hsl(0 3% 6%);

  --border: hsl(51 21% 88%);
  --input: hsl(51 21% 88%);

  --primary: hsl(0 3% 6%);
  --primary-foreground: hsl(48 100% 97%);

  --secondary: hsl(51 21% 88%);
  --secondary-foreground: hsl(0 3% 6%);

  --accent: hsl(51 33% 92%);
  --accent-foreground: hsl(0 3% 6%);

  --destructive: hsl(3 62% 42%);
  --destructive-foreground: hsl(48 100% 97%);

  --ring: hsl(51 21% 88%);

  --blur: hsl(48 100% 97%);

  --radius: 0.5rem;
}

.dark {
  --background: hsl(0 3% 6%);
  --foreground: hsl(55 10% 79%);
  --foreground-2: hsl(50 14% 83%);
  --foreground-3: hsl(49 7% 70%);

  --muted: hsl(30 3% 15%);
  --muted-2: hsl(40 3% 20%);
  --muted-3: hsl(0 2% 11%);
  --muted-foreground: hsl(49 7% 70%);

  --popover: hsl(0 3% 6%);
  --popover-foreground: hsl(55 10% 79%);

  --card: hsl(0 3% 6%);
  --card-foreground: hsl(55 10% 79%);

  --border: hsl(30 3% 15%);
  --input: hsl(30 3% 15%);

  --primary: hsl(55 10% 79%);
  --primary-foreground: hsl(0 3% 6%);

  --secondary: hsl(30 3% 15%);
  --secondary-foreground: hsl(55 10% 79%);

  --accent: hsl(30 4% 11%);
  --accent-foreground: hsl(55 10% 79%);

  --destructive: hsl(5 61% 54%);
  --destructive-foreground: hsl(55 10% 79%);

  --ring: hsl(30 3% 15%);

  --blur: hsl(0 3% 6%);

  --radius: 0.5rem;
}

@utility container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@layer utilities {
  .prose {
    color: var(--foreground);
    letter-spacing: -0.025rem;
  }

  .prose :where(h1):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-bottom: 0.5rem;
    scroll-margin: 4.5rem;
    color: var(--foreground-2);
    font-family: "Barlow", ui-sans-serif, system-ui, sans-serif;
    font-size: 1.875rem;
    font-weight: 800;
    letter-spacing: -0.025rem;
  }

  .prose :where(h2):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 1.5em;
    margin-bottom: 0.75rem;
    scroll-margin: 4.5rem;
    color: var(--foreground-2);
    font-family: "Barlow", ui-sans-serif, system-ui, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.025rem;
  }

  .prose :where(h3):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 1.25em;
    scroll-margin: 4.5rem;
    color: var(--foreground-2);
    font-family: "Barlow", ui-sans-serif, system-ui, sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
  }

  .prose :where(h4):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 1.3em;
    scroll-margin: 4.5rem;
    color: var(--foreground-2);
    font-family: "Barlow", ui-sans-serif, system-ui, sans-serif;
    font-weight: 700;
  }

  .prose
    :where(img, picture, video):not(
      :where([class~="not-prose"], [class~="not-prose"] *)
    ) {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  html {
    @apply font-sans;
  }
  code {
    @apply relative rounded bg-[#f8f7f3] px-[0.2rem] py-[0.1rem] align-middle font-mono font-semibold text-sm dark:bg-[#1c1b1b];
  }
}

.astro-code {
  padding: 1.5rem 1.35rem;
}

.astro-code,
code {
  font-size: 0.8rem;
  font-weight: 600;
  counter-reset: line;
}

.astro-code .line {
  display: block;
  line-height: 0;
  position: relative;
  padding-left: 1.85rem;
}

.astro-code .line::before {
  counter-increment: line;
  content: counter(line);
  position: absolute;
  left: 0;
  text-align: right;
  user-select: none;
  color: #a0a1a7;
}

html.dark .astro-code .line::before {
  color: #51597d;
}

/* biome-ignore-start lint/complexity/noImportantStyles: Shiki themes require !important overrides during manual dark mode toggling */
.astro-code,
.astro-code span {
  background-color: #f8f7f3 !important;
}

html.dark .astro-code,
html.dark .astro-code span {
  color: var(--shiki-dark) !important;
  background-color: #1c1b1b !important;
}

code::before,
code::after {
  content: none !important;
}

/* biome-ignore-end lint/complexity/noImportantStyles: Shiki themes require !important overrides during manual dark mode toggling */
