---
import Icon from "@/components/Icon.astro"
import { Separator } from "@/components/ui/separator"
import { SITE_CONFIG } from "@/constants"

const siteName = SITE_CONFIG.name
const socialLinks = SITE_CONFIG.links
---

<footer class="container max-w-3xl">
  <Separator />
  <div class="flex items-center justify-between py-4">
    <div class="font-heading">
      {siteName}
    </div>
    <div class="flex items-center gap-4">
      {socialLinks.map(({ href, name, icon }) => (
          <a href={href} target='_blank' rel="noreferrer" aria-label={`Go to my ${name}`}>
            <Icon name={icon} class='h-5 w-5' />
          </a>
        ))}
    </div>
  </div>
</footer>
