---
import { slug } from "github-slugger"
import { buttonVariants } from "@/components/ui/button"
import { cn } from "@/lib/utils"

type Props = {
  tag: string
  number: number
  className?: string
}

const { tag, number, className } = Astro.props
---

<a
  href={`/blog/tags/${slug(tag)}`}
  class={cn(
    className,
    'text-sm inline-flex items-center',
    buttonVariants({ variant: 'outline', size: 'sm' })
  )}
>
  {tag}
  ({number})
</a>
