---
import { getCollection } from 'astro:content'
import PostCard from '@/components/PostCard.astro'
import { ArrowUpRight } from 'lucide-react'

const posts = await getCollection('posts')
---

<section class='py-8'>
  <h1 class='font-heading text-2xl'>
    <a href='/blog' aria-label='See all blog post' class='group'>
      Blog
      <ArrowUpRight
        className='inline h-5 w-5 opacity-0 duration-200 group-hover:opacity-100'
      />
    </a>
  </h1>
  <p class='pb-4 text-sm text-foreground-3'>My latest blog posts</p>
  {posts.map(post => <PostCard {post} />)}
</section>
